# Data output
/bronze/*
!/bronze/.gitkeep
/silver/*
!/silver/.gitkeep
/gold/*
!/gold/.gitkeep
backend/bronze/*
!backend/bronze/.gitkeep
backend/silver/*
!backend/silver/.gitkeep
backend/gold/*
!backend/gold/.gitkeep
backend/data-raw/*
!backend/data-raw/.gitkeep

# Reports & Documentation (Generated Artifacts)
/reports/
/site/
docs/reports_data/
docs/coverage/
docs/reports/*
!docs/reports/*.md

# Environnement & Secrets
/venv/
.env
.secrets
.python-version

# Python & Cache
__pycache__/
*.pyc
*.pyd
*.pyo
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
*.egg-info/
backend/build/
backend/src/backend.egg-info/
docs/docs.egg-info/

# Système
.DS_Store

# Logs
*.log

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.idea/

.venv
.secret

# Notebooks
*.ipynb
!notebooks/niveau_vie_pauvrete/lyon_niveau_vie_pauvrete_2017_200m_bronze.ipynb
